# Service endpoint
SVC_ENDPOINT="127.0.0.1"
# Service Port
SVC_PORT="8080"
# Service Log Level. Default to `info`. Use `debug` for troubleshoting
LOG_LEVEL="info"
# Type of the environment running this service
ENVIRONMENT="dev"
# Type of data source. Default to `memory`. Available types are `memory`, `sqlite`, and `turso`
DATA_SOURCE=sqlite
# Database connection URL
DATABASE_URL="sqlite:husni-portfolio.db"
# Github Owner username to pull blogs from github repository
GITHUB_OWNER=husni-zuhdi
# Github Repository name
GITHUB_REPO=husni-blog-resources
# Github Repository branch
GITHUB_BRANCH=main
