SVC_ENDPOINT="127.0.0.1"
SVC_PORT="8080"
LOG_LEVEL="INFO"
ENVIRONMENT="Development"
DATA_SOURCE=sqlite
DATABASE_URL="sqlite:husni-portfolio.db"
GITHUB_OWNER="husni-zuhdi"
GITHUB_REPO="husni-blog-resources"
GITHUB_BRANCH="main"
TURSO_AUTH_TOKEN="secret_token"
JWT_SECRET="kmlbxnkhshdufk,12390uhn"
BUCKET_NAME="your-bucket"
SECRET_URI="gs://your-bucket/secret"
