<h2 class="mb-2 hover:font-bold md:justify-start">
    <form 
        hx-post="/admin/talks/add"
        hx-target="#talks_target"
        hx-swap="innerHTML">
        <div>
            <label for=talk_id>Talk ID :</label>
            <input type="text" id="talk_id" name="talk_id" value="{{id}}"
                class="readonly" readonly>
        </div>
        <div class="admin_input">
            <label for=talk_name>Name :</label>
            <input type="text" id="talk_name" name="talk_name" value=""><br>
        </div>
        <div class="admin_input">
            <label for=talk_date>Date :</label>
            <input type="date" id="talk_date" name="talk_date"
                value="{{date}}"><br>
        </div>
        <div class="admin_input">
            <label for=talk_media_link>Media Link :</label>
            <input type="url" id="talk_media_link" name="talk_media_link"
                value=""><br>
        </div>
        <div class="admin_input">
            <label for=talk_org_name>Organization Name :</label>
            <input type="text" id="talk_org_name" name="talk_org_name"
                value=""><br>
        </div>
        <div class="admin_input">
            <label for=talk_org_link>Organization Link :</label>
            <input type="url" id="talk_org_link" name="talk_org_link"
                value=""><br>
        </div>
        <div>
            <button class="btn_green" type="submit">Submit</button>
            <button class="btn_red"
                hx-get="/admin/talks/list"
                hx-target="#talks_target"
                hx-swap="innerHTML">
                Cancel
            </button>
        </div>
    </form>
</h2>
