{% extends "base.html" %}

{% block title %}500 Internal Server Error{% endblock %}
{% block description %}"Sorry, there is an issue in our server. Please try again later."{% endblock %}

{% block content %}
<div class="grid min-h-full place-items-center py-24 sm:py-32 text-center">
    <p class="text-base font-semibold text-red-700">500</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight sm:text-5xl">
        Internal Server Error
    </h1>
    <p class="mt-6 text-base leading-7">
        Sorry, there is an issue in our server
    </p>
    <p class="mt-6 text-base leading-7">
        Please try again later
    </p>
</div>
{% endblock content %}
