<!DOCTYPE html>
<html lang="en-US" class="text-black bg-gray-100 font-mono">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- Setup Metadatas -->
        <meta charset="UTF-8"> 
        <meta name="description" content={% block description %}{% endblock %}>
        <meta name="author" content="Husni Zuhdi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- HTMX Enabled-->
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
        <!-- Emoji as icon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/statics/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/statics/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/statics/favicon-16x16.png">
        <!-- Sttlesheet CSS -->
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body id="body_target" class="body bg-gray-100">
        <!-- Navbar Section -->
        <nav id="navbar_target" class="bg-gray-50">
            <div class="p-3 relative flex flex-col md:flex-row items-center justify-between">
                <!-- Logo -->
                <div class="py-3 md:py-0 flex items-center md:items-stretch md:justify-start">
                    <img class="w-auto" src="/statics/favicon-32x32.png" alt="Husni Zuhdi">
                </div>
                <!-- Web Menu -->
                <div class="flex flex-col md:flex-row md:mx-3 md:space-x-4">
                    <a href="/" class="navbar_link" aria-current="page">Home</a>
                    <a href="/blogs" class="navbar_link">Blogs</a>
                    <a href="/talks" class="navbar_link">Talks</a>
                </div>
                <!-- Login -->
                <div class="flex flex-col md:flex-row md:mx-3 md:space-x-4">
                    <a href="/" class="navbar_link"
                        hx-get="/login"
                        hx-target="#main_body_target"
                        hx-swap="innerHTML">
                        Login
                    </a>
                </div>
            </div>
        </nav>

        <!-- Main Section -->
        <div id="main_body_target" class="mx-6 md:mx-64 bg-gray-100 text-left">
            {% block content %}<p>Placeholder content</p>{% endblock %}
        </div>

        <!-- Footer Section -->
        <footer id="footer_target" class="bottom-0 text-center lg:text-left bg-gray-100">
          <div class="flex items-center justify-center bg-gray-50 border-2 mt-4 p-6 lg:justify-between">
            <div class="me-12 hidden lg:block">
              <span>Get connected with me on social networks:</span>
            </div>
            <!-- Social network icons container -->
            <div class="flex justify-center">
              <a href="mailto:husninaufalz@gmail.com" target="_blank" class="svg_icon">
                  <img src="/icons/email-solid-full.svg" alt="email" width="24" height="24"/>
              </a>
              <a href="https://www.linkedin.com/in/husni-naufal-zuhdi" target="_blank" class="svg_icon">
                  <img src="/icons/linkedin-solid-full.svg" alt="email" width="24" height="24"/>
              </a>
              <a href="https://github.com/husni-zuhdi" target="_blank" class="svg_icon">
                  <img src="/icons/github-solid-full.svg" alt="email" width="24" height="24"/>
              </a>
            </div>
          </div>

          <div class="mx-6 py-10 text-center md:text-left">
            <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-4">
              <!-- TW Elements section -->
              <div>
                <h6 class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">Husni Zuhdi</h6>
                <p>
                    <i>Character is Destiny</i>
                </p>
                <p>
                    <i>~ Heraclitus</i>
                </p>
              </div>
              <!-- Pages section -->
              <div>
                <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Pages</h6>
                <p class="mb-1">
                  <a href="/">Home</a>
                </p>
                <p class="mb-1">
                  <a href="/blogs">Blogs</a>
                </p>
                <p class="mb-1">
                  <a href="/talks">Talks</a>
                </p>
              </div>
          </div>
    </body>
</html>

