{% extends "base.html" %}

{% block title %}{{id}} - {{name}}{% endblock %}
{% block description %}"Blog {{id}} - {{name}}"{% endblock %}

{% block content %}
    <div>
        {{body|safe}}
    </div>
    <div>
    <h2>Tags:</h2>
    {% for tag in tags %}
        <button class="bg-gray-200 rounded-md px-3 py-1 hover:bg-gray-700">
            <a href="/blogs?tags={{tag}}" class="text-sm font-small hover:text-white">{{tag}}</a>
        </button>
    {% endfor %}
    </div>
{% endblock content %}
