{% extends "base.html" %}

{% block title %}Husni Zuhdi{% endblock %}
{% block description %}"Husni Zuhdi Profile"{% endblock %}

{% block content %}
<h1>Husni Naufal Zuhdi - Site Reliability Engineer</h1>

<h2 class="border-2 border-b-neutral-200 border-x-transparent border-t-transparent">Overview</h2>
<p>Hi! I'm a Site Reliability Engineer by job and Software Engineer by passion. I'm comfortable writing code with python, golang, and rust.</p>
<p>I love exploring several topics such as Cloud Computing, DevOps, Platform Engineering, Nuclear Science, and Computational Physics.</p>

<h2 class="border-2 border-b-neutral-200 border-x-transparent border-t-transparent">Work Experiences</h2>
<h3>2022 - Now  | Site Reliability Engineer at <a href="https://accelbyte.io/about-us" target="_blank">Accelbyte</a></h3>
<ul>
    <li>Manage and operate Accelbyte game-platform cloud infrastructure</li>
    <li>Handle incident management related to client and internal cloud infrastructure</li>
    <li>Develop Backend Service for internal alerting subscription</li>
</ul>
<h3>2022 - 2022 | System Engineer at <a href="https://www.tokopedia.com/about/" target="_blank">Tokopedia</a></h3>
<ul>
    <li>Handle Tokopedia Multi-Cloud Environment</li>
    <li>Onboard several existing Jenkins Pipelines into our new GitHub Action Workflows</li>
    <li>Rolling out our existing Consul Service Discovery into the Enterprise version</li>
    <li>Develop Cloud Platform Diary for our Internal Cloud-related Data Analytics Platform</li>
</ul>

<h2 class="border-2 border-b-neutral-200 border-x-transparent border-t-transparent">Volunteers</h2>
<h3>2024 - Now   | Organizer at <a href="https://devops-jogja.github.io" target="_blank">DevOps Jogja</a></h3>
<ul>
    <li>Coordinate with several co-working spaces to hold the first Community Meetup</li>
    <li>Organized community meetups and collaborate with other communities in Indonesia</li>
    <li>Sometimes I present DevOps/SRE/Cloud materials</li>
    <li>Having fun with community members</li>
</ul>
<h3>2023 - Now   | Instructor and Advisor at <a href="https://grow.google/intl/id_id/bangkit" target="_blank">Bangkit Academy</a></h3>
<ul>
    <li>Teaching on 20+ Cloud ILT sessions in Bangkit 2023</li>
    <li>Colaborate with Mentors to setup ILT sessions</li>
    <li>Advise 3 capstone teams to deliver their final projects</li>
</ul>
<h3>2022 - 2022  | Facilitator at <a href="https://grow.google/intl/id_id/bangkit" target="_blank">Bangkit Academy</a></h3>
<ul>
    <li>Colaborate with Instructors to setup ILT sessions</li>
    <li>Conduct weekly meeting to monitor students progress and play games (to refresh their mind)</li>
    <li>During the final project period, conduct 1-on-1 session to give advices to students</li>
</ul>

<h2 class="border-2 border-b-neutral-200 border-x-transparent border-t-transparent">Skills</h2>
<div class="flex-container">
    <div>
        <h3>Cloud Computing</h3>
        <p class=paragraph>
            Mostly manage and operating GCP and AWS in day to day basis
        </p>
        <ul>
            <li><a href="https://www.credly.com/badges/a76fc573-ac7d-479a-a391-9b597b667850/public_url" target="_blank">AWS Certified Developer – Associate</a></li>
            <li><a href="https://www.credential.net/c2cbc5cd-b8ca-41fc-8417-f618631078e1" target="_blank">GCP Certified Associate Cloud Engineer</a></li>
        </ul>
    </div>
    <div>
        <h3>Kubernetes</h3>
        <p class=paragraph>
            Manage hundreds of Kubernetes clusters and create my own cluster
        <ul>
            <li><a href="https://www.credly.com/badges/a7ef8fab-b735-4c73-9fe2-39e14e2a458d/public_url" target="_blank">K8S Certified Kubernetes Administrator</a></li>
        </ul>
        </p>
    </div>
    <div>
        <h3>Programming (Rust, Go, Python)</h3>
        <p class=paragraph>
            Build, Deploy, Maintain, and Operate internal infra software for my organizations
        </p>
        <p class=paragraph>
            Love writting simple codes that works and helpful
        </p>
    </div>
    <div>
        <h3>Terraform</h3>
        <p class=paragraph>
            Develop and maintain internal terraform modules
        </p>
    </div>
    <div>
        <h3>Linux</h3>
        <p class=paragraph>
            Use Linux and in daily basis. Experienced delete whole database cluster
        </p>
    </div>
</div>

<h2 class="border-2 border-b-neutral-200 border-x-transparent border-t-transparent">Projects</h2>
<hr>

<div class="flex-container">
    <div>
        <h3>
            <a href="https://github.com/husni-zuhdi/husni-portfolio" target="_blank">Portfolio Website</a>
        </h3>
        <p class=paragraph>
            Build in <span class="font-bold">Rust</span> programming language, <span class="font-bold">Tokio</span> ecosystem, and tokio <span class="font-bold">Jinja</span> templating
        </p>
        <p class=paragraph>
            Deployed in <span class="font-bold">Cloud Run (GCP)</span> with <span class="font-bold">$0/month</span> operating cost
        </p>
    </div>
    <div>
        <h3>
            <a href="https://github.com/husni-zuhdi/ilt-cloud-bangkit-demo" target="_blank">Bangkit ILT Demo List</a>
        </h3>
        <p class=paragraph>
            Catalogue of my demo session when I teached Cloud Computing in Bangkit Academy
        </p>
        <p class=paragraph>
            Most of the demo have 2 ways to interact with GCP: 1) <span class="font-bold">ClickOps/Scripting</span> 2) <span class="font-bold">Terraform</span>
        </p>
    </div>
    <div>
        <h3>
            <a href="https://github.com/husni-zuhdi/Sapa.AI" target="_blank">Sapa.AI</a>
        </h3>
        <p class=paragraph>
            Design <span class="font-bold">microservice architecture</span> to serve simple CURD API and inference ML API
        </p>
        <p class=paragraph>
            Develop CRUD and ML APIs with <span class="font-bold">Flask</span> and <span class="font-bold">Tensorflow</span> frameworks
        </p>
        <p class=paragraph>
            <span class="font-bold">Lead</span> team of 6 people to deliver a violence reporting android app
        </p>
    </div>
    <div>
        <h3>
            <a href="https://github.com/husni-zuhdi/husni-undergrad-thesis" target="_blank">Bachelor Thesis</a>
        </h3>
        <p class=paragraph>
            Design a neutronic fusion reactor simulation with <span class="font-bold">Paramak and OpenMC</span> libraries
        </p>
        <p class=paragraph>
            Optimize simulation workflow to run in Cloud-Native environment
        </p>
        <p class=paragraph>
            Running <span class="font-bold">parallel simulations</span> on top of GCP and AWS cloud providers to speed-up simulation time
        </p>
    </div>
</div>

<h2 class="border-2 border-b-neutral-200 border-x-transparent border-t-transparent">Personal Interests</h2>

<p class="paragraph">
    <i>Running, Hard Sci-fi and Fantasy, Books, Climbing, Staring</i>
</p>
{% endblock content %}
