{% extends "base.html" %}

{% block title %}Husni Zuhdi{% endblock %}
{% block description %}"Husni Zuhdi Profile"{% endblock %}

{% block content %}
<h1>Husni Naufal Zuhdi - Site Reliability Engineer</h1>

<h2>Overview</h2>
<p>Hi! I'm a Site Reliability Engineer by job and Software Engineer by passion. I'm comfortable writing code with python, golang, and rust.</p>

<h2>Work Experiences</h2>
<hr>

<h3>2022 - Now  | Site Reliability Engineer at <a href="https://accelbyte.io/about-us">Accelbyte</a></h3>
<ul>
    <li>Manage and operate Accelbyte game-platform cloud infrastructure</li>
    <li>Handle incident management related to client and internal cloud infrastructure</li>
    <li>Develop Backend Service for internal alerting subscription</li>
</ul>
<h3>2022 - 2022 | System Engineer at <a href="https://www.tokopedia.com/about/">Tokopedia</a></h3>
<p class="paragraph">Handle Tokopedia Multi-Cloud Environment</p>
<ul>
    <li>Onboard several existing Jenkins Pipelines into our new GitHub Action Workflows</li>
    <li>Rolling out our existing Consul Service Discovery into the Enterprise version</li>
    <li>Develop Cloud Platform Diary for our Internal Cloud-related Data Analytics Platform</li>
</ul>

<h2>Volunteers</h2>
<hr>

<h3>2023 - Now   | Instructor and Advisor at <a href="https://grow.google/intl/id_id/bangkit">Bangkit Academy</a></h3>
<ul>
    <li>Teaching on 20+ Cloud ILT sessions in Bangkit 2023.</li>
    <li>Colaborate with Mentors to setup ILT sessions.</li>
    <li>Advise 3 capstone teams to deliver their final projects.</li>
</ul>
<h3>2022 - 2022  | Facilitator at <a href="https://grow.google/intl/id_id/bangkit">Bangkit Academy</a></h3>
<ul>
    <li>Colaborate with Instructors to setup ILT sessions.</li>
    <li>Conduct weekly meeting to monitor students progress and play games (to refresh their mind).</li>
    <li>During the final project period, conduct 1-on-1 session to give advices to students.</li>
</ul>

<h2>Skills</h2>
<hr>

<div class="flex-container">
    <div>
        <h3>Cloud Computing</h3>
        <p class=paragraph>
            Mostly manage and operating GCP and AWS in day to day basis.
        </p>
        <ul>
            <li><a href="https://www.credly.com/badges/a76fc573-ac7d-479a-a391-9b597b667850/public_url" target="_blank">AWS Certified Developer – Associate</a></li>
            <li><a href="https://www.credential.net/c2cbc5cd-b8ca-41fc-8417-f618631078e1" target="_blank">GCP Certified Associate Cloud Engineer</a></li>
        </ul>
    </div>
    <div>
        <h3>Kubernetes</h3>
        <p class=paragraph>
            Manage hundreds of Kubernetes clusters.
        </p>
    </div>
    <div>
        <h3>Terraform</h3>
        <p class=paragraph>
            Develop and maintain internal terraform modules.
        </p>
    </div>
    <div>
        <h3>Linux</h3>
        <p class=paragraph>
            Use Linux and in daily basis. Experienced delete whole database cluster.
        </p>
    </div>
</div>

<h2>Projects</h2>
<hr>
<div class="flex-container">
    <div>
        <h3>Sapa.AI</h3>
        <ul>
            <li>Design microservice architecture to serve simple CURD API and inference ML API</li>
            <li>Develop CRUD and ML APIs with flask and tensorflow frameworks</li>
            <li>Lead team of 6 people to deliver a violence reporting android app</li>
        </ul>
    </div>
    <div>
        <h3>Bachelor Thesis</h3>
        <ul>
            <li>Design a neutronic fusion reactor simulation with Paramak and OpenMC library</li>
            <li>Optimize simulation workflow to run in Cloud-Native environment</li>
            <li>Enable multi-cloud environments with GCP and AWS cloud providers to increase simulation efficiency</li>
        </ul>
    </div>
</div>


<h2>Personal Interests</h2>
<hr>
<p class="paragraph">
    <i>Running, Hard Sci-fi and Fantasy, Books, Climbing, Staring</i>
</p>
{% endblock content %}
