<h2 class="mb-2 hover:font-bold md:justify-start">
    <form hx-post="/admin/blogs/add" hx-target="#blogs_target" hx-swap="innerHTML">
        <div>
            <label for=blog_id>Blog ID :</label>
            <input type="text" id="blog_id" name="blog_id" value="{{id}}" class="readonly" readonly>
        </div>
        <div class="admin_edit">
            <label for=blog_name>Name :</label>
            <input type="text" id="blog_name" name="blog_name" value=""><br>
        </div>
        <div class="admin_edit">
            <label for=blog_body>Body :</label><br>
            <!-- <input type="text" id="blog_body" name="blog_body" value=""><br> -->
            <textarea id="blog_body" name="blog_body" rows="5" cols="80">Your new blog...</textarea>
        </div>
        <div class="admin_edit">
            <label for=blog_tags>Tags :</label>
            <input type="text" id="blog_tags" name="blog_tags" value="comma, separated, tags"><br>
        </div>
        <div>
            <button class="btn_green" type="submit">Submit</button>
            <button class="btn_red" hx-get="/admin/blogs/get" hx-target="#blogs_target" hx-swap="innerHTML">Cancel</button>
        </div>
    </form>
</h2>
