{% extends "base.html" %}

{% block title %}{{id}} - {{name}}{% endblock %}
{% block description %}"Blog {{id}} - {{name}}"{% endblock %}

{% block content %}
    <!-- Syntax  Highlithing -->
    <link href="https://unpkg.com/nord-highlightjs@0.1.0/dist/nord.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!-- MathJax-->
    <script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js">
    </script>
    <script>
        MathJax = {
          output: {
            displayOverflow: 'linebreak',  // break long lines
            linebreaks: {                  // options for when overflow is linebreak
              inline: true,                   // true for browser-based breaking of in-line equations
              width: '100%',                  // a fixed size or a percentage of the container width
              lineleading: .2,                // the default lineleading in em units
              LinebreakVisitor: null,         // The LinebreakVisitor to use
            }
          }
        }
    </script>
    <div>
        {{body|safe}}
    </div>
    <div>
    <p>Tags: 
        {% for tag in tags %}
            {% if tag == "" %}
               <!-- No tag to render  -->
               <!-- Skip this tag -->
            {% else %}
                <button hx-get="/blogs?tags={{tag}}"
                    hx-target="#body_target"
                    hx-swap="innerHTML"
                    hx-replace-url="true"
                    class="inactive_tag">
                    {{tag}}
                </button>
            {% endif %}
        {% endfor %}
    </p>
    </div>
{% endblock content %}
