/* Color Pallete */
/**/
/* Eerie Black: #1C2321 */
/* Thistle: #C4B7CB */
/* PalePurple: #F1E4F3 */
/* HonoluluBlue: #007CBE */
/* NonPhotoBlue: #8DE4FF */
.body {
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.1px;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica", sans-serif;
    font-size: 20px;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #1C2321;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #F1E4F3;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.navbar a:hover {
    background-color: #C4B7CB;
    color: #1C2321;
}

.navbar a.special {
    background-color: #007CBE;
    color: #F1E4F3;
}

.navbar a.auth {
    float: right;
}

.main {
    flex: 1;
    padding: 5px 100px 5px 100px;
}

.main a.btn {
    background-color: #8DE4FF;
    color: #1C2321;
}

.paragraph {
    padding-left: 5px;
    padding-right: 5px;
}

.btn {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-container > div {
    width: 500px;
    margin: 5px;
    padding: 5px;
}

.footer {
    padding: 10px;
    display: inine-block;
    text-align: center;
    color: #F1E4F3;
    background-color: #1C2321;
}

.footer a {
    color: #F1E4F3;
}
